html {
    display: none;
}
#home .container {
    padding: 65px;
}
.main_tit {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 85px;
    font-weight: 800;
    text-transform: uppercase;
    z-index: 2;
}
.main_img {
    border-radius: 32px;
    overflow: hidden;
    height: calc(100vh - 130px);
}
.pickle_img {
    background: #fff;
    position: relative;
}
.pickle_img img {
    width: 475px;
    animation: fly 4s ease-in-out infinite;
    position: absolute;
    left: 50%;
    top: 50%;
}
@keyframes fly {
    0% {
        transform: translate(-50%, -46%);
    }
    50% {
        transform: translate(-50%, -54%);
    }
    100% {
        transform: translate(-50%, -46%);
    }
}
