header {
    position: relative;
}
header .main_tit {
    color: #fff;
}
.sub_page header .container {
    overflow: hidden;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 32px;
    margin: 65px;
    height: calc(100vh - 130px);
}
.sub_page header .container::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.sub_page section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub_page section .container {
    padding: 80px 100px;
    width: 100%;
}
.sub_tit {
    text-align: center;
    font-size: 65px;
    font-weight: 800;
    color: var(--page-color-white);
    padding-bottom: 70px;
}

/* ------------ about ------------ */
#aboutus_page header .container {
    background-image: url(/img/about01.jpg);
}
#purpose .txt_area {
    color: var(--page-color-white);
    text-align: center;
}
#purpose .txt_area p {
    line-height: 1.3;
}
.act_list {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.act_list li {
    border: 1px solid #ddd;
    padding: 6px 15px 6px;
    border-radius: 24px;
    font-size: 13px;
    line-height: 1;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    cursor: pointer;
}
.act_list li:hover {
    border-color: var(--page-color-point);
    background: var(--page-color-point);
    color: #000;
}

.member_items {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.member_item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 60px;
    border-radius: 32px;
    background: var(--page-color-white);
}
.member_item .number {
    font-size: 35px;
    font-weight: 800;
}
.member_item .txt_area {
    text-align: center;
}
.member_item .txt_area .name {
    font-weight: 500;
}
.member_item .txt_area .major {
    margin-top: 0.5em;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1;
    color: #777;
}

/* ------------ businessplan ------------ */
#businessplan_page header .container {
    background-image: url(/img/business01.jpg);
}
.plan_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
}
.plan_list .img_area {
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    background-color: #777;
    overflow: hidden;
    border-radius: 24px;
}
.plan_list .img_box {
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    overflow: hidden;
    margin-bottom: -5px;
}
.plan_list .img_box img {
    width: 100%;
    transition: all 0.4s;
    cursor: pointer;
    object-fit: cover;
    will-change: transform;
}
.plan_list .img_box img:hover {
    transform: scale(1.1);
}
.plan_list li p {
    color: var(--page-color-white);
    font-size: 23px;
    margin-top: 20px;
    text-align: center;
}

/* ------------ music ------------ */
#music_page header .container {
    background-image: url(/img/music01.jpg);
}
#practice .container {
    padding: 80px 0;
}
.practice_item {
    position: relative;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.practice_item + .practice_item {
    margin-top: 60px;
}
.practice_item .img_area {
    position: absolute;
    width: 90%;
    height: 90%;
    display: flex;
}
.practice_item .img_area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 24px;
}
.practice_item .img_area > div {
    flex: 1;
    background-size: cover;
    background-position: center;
    transition: transform 1s ease;
}
.practice_item .txt_area {
    position: relative;
    margin-bottom: 60px;
    text-align: center;
    color: var(--page-color-white);
    max-width: 580px;
    transition: all 0.9s;
}
.practice_item .txt_area span {
    text-transform: uppercase;
    margin-bottom: 60px;
    display: block;
}
.practice_item .txt_area .name {
    font-size: 70px;
    font-weight: 800;
}

/* ------------ arduino ------------ */
#arduino_page header .container {
    background-image: url(/img/arduino01.jpg);
}
#arduino .arduino_area {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: calc(100vh - 160px);
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
#arduino .txt_items {
    position: relative;
    overflow: hidden;
    width: 450px;
    height: 750px;
}
#arduino .txt_item {
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 1;
    width: 100%;
    height: 100%;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    transform: translateY(100%);
    opacity: 0;
    margin-top: -40px;
}
#arduino .txt_item p {
    color: var(--page-color-white);
}

#arduino .video_items {
    position: relative;
    overflow: hidden;
    width: 450px;
    height: 750px;
}
#arduino .video_item {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--page-color-body);
    overflow: hidden;
}
#arduino .video_box {
    z-index: auto;
}
#arduino .video_box video {
    object-fit: cover;
    border-radius: 24px;
}

/* ------------ report ------------ */
#report_page header .container {
    background-image: url(/img/report01.jpg);
}
#report .container {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}
#report .container > div {
    flex: 1;
}
#report .txt_area {
    color: var(--page-color-white);
}
#report .txt_area .emp {
    font-size: 40px;
    color: var(--page-color-point);
    font-weight: 800;
    margin-bottom: 70px;
}
#report .txt_area p {
    line-height: 1.3;
}
.bown_btn {
    border: 1px solid #ddd;
    padding: 6px 15px 6px;
    border-radius: 24px;
    font-size: 13px;
    line-height: 1;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    display: inline-block;
}
.bown_btn:hover {
    border-color: var(--page-color-point);
    background: var(--page-color-point);
    color: #000;
}
.bown_btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.bown_btn span {
    font-variation-settings: "wght" 200;
    font-size: 20px;
}
#report .img_area img {
    width: 100%;
    height: 100%;
    border-radius: 24px;
}
